@page
@model TrabTerceiroRazor.Pages.Produtos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produto.ProNome" class="control-label"></label>
                <input asp-for="Produto.ProNome" class="form-control" />
                <span asp-validation-for="Produto.ProNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.ProCategoria" class="control-label"></label>
                <select asp-for="Produto.ProCategoria" class ="form-control" asp-items="ViewBag.ProCategoria">
                    <option disabled selected></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Produto.ProFornecedor" class="control-label"></label>
                <select asp-for="Produto.ProFornecedor" class="form-control" asp-items="ViewBag.ProFornecedor">
                    <option disabled selected></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Produto.ProPreco" class="control-label"></label>
                <input asp-for="Produto.ProPreco" class="form-control" />
                <span asp-validation-for="Produto.ProPreco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
